{% extends 'main/base.html' %}
{% block content%}
<head>
    <title>About Pluto</title>
</head>

<body>
    <div class = "container">
    <br><br><br><br><br><br><br><br>
    <p class = "about">
        <strong>Pluto</strong> was created By <a href = "https://twitter.com/kKamrul_Hasan" target = "_blank"><strong>Kamrul Hasan</strong></a> as a Class Project.
        <br>
        For Course<strong> CSE 302</strong><br>
        <strong><a href = "https://green.edu.bd" target="_blank">Green University Of Bangladesh</strong>
    </p>
    </div>
</body>

{% endblock %}
