{% extends 'main/base.html' %}
{% block content %}
<head>
    <title>Discover Topics</title>
</head>
<div class="container">
    {% if no_topic_left %}
        <br><br><br><br><br><br>
      <p class = "notes">No more topics to follow!!!</p>
    {% endif %}
  <div class="card-columns">
      {% for topic in topics %}
    <div class="card bg-danger">
      <div class="card-body text-center">
        <p class="title"><a href = "{% url 'main:show_topic_posts' topic.slug %}">{{topic.topic_title}}</a></p>
        <button class="button button2">
        <a href = "{% url 'main:follow_topic' topic.slug %}">Follow</a></button>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock%}
</body>
