{% extends 'main/base.html' %}
{% block content %}
<head>
    <title>{{topic.topic_title}}</title>
</head>


<div class="container">
    <p class = "notes"> {{topic.topic_title}}</p>
    <div class = "card-columns">
        <div class = "card bg-danger">
            <div class = "card-body text-center">
                <button class="button button2">
                <a href = "{% url 'main:create_post' topic.slug %}">Write a blog</a>
                </button>
            </div>
        </div>
    </div>
<br><br><br>
  <div class="card-columns">
      {% for post in posts %}
    <div class="card bg-danger">
      <div class="card-body text-center">
        <p class="title">{{post.title}}</p>
        <p style = "color:yellow";>{{post.author}}</p>
        {{post.intro|safe}}
        <br>
        <button class="button button2">
        <a href = "{% url 'main:view_post' post.slug %}">Read Full Post</a>
        </button>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock%}
